<world name="bimanual_world">

  <include filename="../robots/lwa4d/urdf/lwa4d.urdf" model_name="lwa4d"/> 
  <include filename="../robots/sdh/urdf/sdh.urdf" model_name="sdh"/> 

  <include filename="../objects/lwa4_vertical_support/urdf/lwa4_vertical_support.urdf" model_name="base"/>
  <include filename="../objects/lwa4_middle_support/urdf/lwa4_middle_support.urdf" model_name="mid"/> 

  <include filename="../objects/MG_table/urdf/MG_table.urdf" model_name="table"/>

  <include filename="../objects/utility_cart/urdf/utility_cart.urdf" model_name="cart"/> 

  <include filename="../objects/wine/urdf/wine.urdf" model_name="wine"/>


  <entity model="base" name="base">
    <origin xyz="-0.45 -0.45 0.01" rpy="+0 0 0"/>
  </entity>

  <entity model="mid" name="mid">
    <origin xyz="0.01 0.01 0.95" rpy="0 0 0"/>
  </entity> 

  <entity model="lwa4d" name="rightArm">
    <origin xyz="0.0 -0.0375 +1.23" rpy="+1.57 0 0"/>
  </entity>

  <entity model="sdh" name="rightHand">
    <origin xyz="0.6 -0.6625 +1.23" rpy="0 0 0"/>
  </entity>

  <entity model="lwa4d" name="leftArm">
    <origin xyz="0.0 0.0375 +1.23" rpy="-1.57 0 0"/>
  </entity>

  <entity model="sdh" name="leftHand">
    <origin xyz="0.6 0.6625 +1.23" rpy="0 0 0"/>
  </entity>


  <entity model="table" name="table">
    <origin xyz="0.20 -0.91 0.02" rpy="0 0 0"/>
  </entity>

  <entity model="wine" name="wine">
    <origin xyz="0.50 -0.20 0.88" rpy="0 0 -1.57"/>
  </entity>


  <entity model="cart" name="cartLeft">
    <origin xyz="-0.80 0.48 0.01" rpy="0 0 0"/>
  </entity>


  <entity model="cart" name="cartRight">
    <origin xyz="-0.80 -1.05 0.01" rpy="0 0 0"/>
  </entity>

</world>
